<template>
  <div class="movies">
    <MoviePoster :title="'test title'" :image="'logo.png'"></MoviePoster>
    <MoviePoster :title="'test title'" :image="'logo.png'"></MoviePoster>
    <MoviePoster :title="'test title'" :image="'logos.jpss'"></MoviePoster>
  </div>
</template>
<script lang="ts">
import Vue from "vue";
import MoviePoster from "@/components/MoviePoster.vue"
export default Vue.extend({
  components: {
    MoviePoster
  }
});
</script>
