<template>
  <div>
    <h1>One Object to Rule Them All</h1>
    <p>event: {{ event }}</p>
    <!-- v bind takes and argument, but can be used without any -->
    <img v-bind="{ src: imageAttrs.src, alt: imageAttrs.alt }" />
    <img v-bind="imageAttrs" />
    <hr>
    <img v-bind="imageAttrs" v-on="{ click: onClick, mouseleave: onMouseleave, mouseover: onMouseover }" />
    <img v-bind="imageAttrs" v-on="imageEvents" />
  </div>
</template>
<script lang="ts">
import Vue from "vue";
export default Vue.extend({
  data: () => ({
    imageAttrs: {
      src: 'https://picsum.photos/id/1005/600/200',
      alt: 'Vue logo'
    },
    event: ''
  }),

  computed: {
    imageEvents(): Record<string, any> {
      return {
        click: this.onClick,
        mouseleave: this.onMouseleave,
        mouseover: this.onMouseover
      }
    }
  },

  methods: {
    onClick(): void {
      this.event = 'click'
    },
    onMouseover(): void {
      this.event = 'mouseover'
    },
    onMouseleave(): void {
      this.event = 'mouseleave'
    }
  }
});
</script>
