<template>
  <div>
    <h1>Problem with props</h1>
    <hr>
    <h2>Props based solution</h2>
    <BaseButton></BaseButton>
    <BaseButton :text="'custom text'"></BaseButton>
    <BaseButton :text="'custom text'" :iconRight="'logo.png'"></BaseButton>
    <BaseButton :text="'custom text'" :iconLeft="'logo.png'"></BaseButton>
    <BaseButton :text="'custom text'" :iconLeft="'logo.png'" :iconRight="'logo.png'" :loaderOnClick="true"></BaseButton>
    <BaseButton :text="'loader right'" :iconLeft="'logo.png'" :iconRight="'logo.png'" :loaderRight="true" :loaderOnClick="true"></BaseButton>
    <BaseButton :text="'loader left'" :iconLeft="'logo.png'" :iconRight="'logo.png'" :loaderLeft="true" :loaderOnClick="true"></BaseButton>
  </div>
</template>
<script lang="ts">
import Vue from "vue";
import BaseButton from "@/components/BaseButton.vue"
export default Vue.extend({
  components: {
    BaseButton
  }
});
</script>
