<template>
  <div>
    <h1>Scoped Slots</h1>
    <Book>
      <template #title="slotProps">
        <h1>{{ slotProps.bookTitle }}</h1>
      </template>
    </Book>
    <!-- this won't work - scoped slots are scoped only to the template in which they're used, they cant be accessed outside of it-->
    <!-- {{ slotProps.bookTitle }} -->
    <hr>
    <!-- destructuring -->
    <Book>
      <template #title="{ bookTitle }">
        <h1>{{ bookTitle }}</h1>
      </template>
    </Book>
    <hr>
    <!-- v-slot can be applied only to templated with one exception -->
    <!-- if there's more than one slot used we must use templates -->
    <Book v-slot:title="{ bookTitle }">
      <h1>{{ bookTitle }}</h1>
      <!-- <template #description>
        <p>this won't work</p>
      </template> -->
    </Book>
    <!-- probably better to stick with template blocks altogether -->
  </div>
</template>
<script lang="ts">
import Vue from "vue";
import Book from "@/components/Book.vue"
export default Vue.extend({
  components: {
    Book
  }
});
</script>
