<template>
  <div>
    <h1>Slots</h1>
    <BlogLayout>
      <template #header>
        <h1>title</h1>
      </template>
      <p>main content</p>
      <template v-slot:[dynamicSlotName]>
        <div>aside</div>
      </template>
    </BlogLayout>
    <hr>
    <BlogLayout></BlogLayout>
  </div>
</template>
<script lang="ts">
import Vue from "vue";
import BlogLayout from "@/components/BlogLayout.vue"
export default Vue.extend({
  components: {
    BlogLayout
  },
  data: () => ({
    dynamicSlotName: 'aside'
  })
});
</script>

    <!-- or -->
    <!-- <template #[dynamicSlotName]>
        <div>aside</div>
      </template> -->