<template>
  <button @click="onBtnClick">
    <transition name="fade" mode="out-in">
      <span v-if="isLoading && loaderLeft">loader</span>
      <span v-else-if="iconLeft"><img :src="getImageSource(iconLeft)" alt=""></span>
    </transition>
    <transition name="fade" mode="out-in">
      <span v-if="!isLoading">{{ text }}</span>
      <span v-else>loader</span>
    </transition>
    <transition name="fade" mode="out-in">
      <span v-if="isLoading && loaderRight">loader</span>
      <span v-else-if="iconRight"><img :src="getImageSource(iconRight)" alt=""></span>
    </transition>
  </button>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  props: {
    text: {
      type: String,
      default: 'check me out'
    },
    iconLeft: {
      type: String
    },
    iconRight: {
      type: String
    },
    loaderLeft: {
      type: Boolean,
      default: false
    },
    loaderRight: {
      type: Boolean,
      default: false
    },
    loaderOnClick: {
      type: Boolean,
      default: false
    }
  },

  data: () => ({
    isLoading: false
  }),

  methods: {
    getImageSource(image: string) {
      return require(`../assets/${image}`)
    },
    onBtnClick() {
      if (this.loaderOnClick) {
        this.isLoading = true
        setTimeout(() => this.isLoading = false, 1000)
      }
    }
  }
});
</script>

<style scoped>
button img {
  width: 20px;
}
</style>
