<template>
  <div>
    <header>
      <slot name="header">default title</slot>
    </header>
    <main>
      <slot>default content</slot>
    </main>
    <aside>
      <slot name="aside">default aside</slot>
    </aside>
  </div>
</template>
<script lang="ts">
import Vue from "vue";
import BaseButton from "@/components/BaseButton.vue"
export default Vue.extend({
  components: {
    BaseButton
  }
});
</script>
