<template>
  <div class="book">
    <slot name="title" :bookTitle="bookTitle"></slot>
    <slot name="description"></slot>
  </div>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  data: () => ({
    bookTitle: 'no more mr nice guy'
  })
});
</script>