<template>
  <section>
    <img :src="getImageSource(image)" alt="">
    <h1>{{ title }}</h1>
    <p>{{ length }}</p>
    <span v-if="watched">✅</span>
  </section>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  props: {
    image: {
      type: String,
      default: 'logo.png',
      validator: propValue => {
        const isPNG = propValue.endsWith('.png')
        const isJPG = propValue.endsWith('.jpg') || propValue.endsWith('.jpeg')
        const hasValidExtension = isPNG || isJPG

        return hasValidExtension
      }
    },
    title: {
      type: String,
      required: true
    },
    length: {
      type: [Number, String],
      default: 90
    },
    watched: {
      type: Boolean,
      default: false
    }
  },

  methods: {
    getImageSource(image: string) {
      return require(`../assets/${image}`)
    }
  }
});
</script>

<style scoped>
section {
  box-shadow: 0 0 1px 1px black;
  max-width: 300px;
  margin: 0 auto;
  padding: 1rem;
}
</style>
