<template>
  <div id="app">
    <div id="nav">
      <router-link to="/">Home</router-link> |
      <router-link to="/problem-with-props">ProblemWithProps</router-link> |
      <router-link to="/movies">Movies</router-link> |
      <router-link to="/slots">Slots</router-link> |
      <router-link to="/scoped-slots">Scoped Slots</router-link> |
      <router-link to="/object">One Object to Rule Them All</router-link>
    </div>
    <router-view />
  </div>
</template>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
